<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="css/flextlayout.css">
</head>

<body>
    <header>
        <h1>Welcome</h1>
    </header>
    <section>
        <nav>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">About</a></li>
                <li><a href="">News</a></li>
                <li><a href="">Contact</a></li>
            </ul>
        </nav>
        <article>
            <h1>Article</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid accusamus culpa aliquam ea dicta
                possimus
                neque placeat sed dolorum debitis? Harum magnam labore deserunt, ex saepe suscipit excepturi
                exercitationem Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam veritatis voluptates
                natus quod nihil laboriosam iste voluptas, nostrum, minus suscipit esse nulla sed sapiente perferendis
                placeat similique? Ad, tenetur voluptas?
            </p>
        </article>
    </section>

    <footer>
        <p>&copy;2023-all rights reserved
        </p>
    </footer>

</body>

</html>