ul.DMenu {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    background-color: #ad417c;
  }
  
  ul.DMenu li {
    display: inline;
  }
  
  ul.DMenu li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 16px;
    display: inline-block;
  }
  
  ul.DMenu li a:hover {
    background-color: #b94987;
  }