ul.FMenu {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    background-color: #662549;
    overflow: auto;
  }
  
  ul.FMenu li {
    float: left;
  }
  
  ul.FMenu li a {
    text-decoration: none;
    color: #f5f7f8;
    font-weight: bold;
    padding: 16px;
    display: inline-block;
  }
  
  ul.FMenu li a:hover {
    background-color: #7a3b5e;
  }
  
  ul.FMenu li.right {
    float: right;
  }